# 系统与编辑器
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.tmp

# IDE
.idea/
.vscode/
*.code-workspace

# 文档中间产物
~$*
*.docx.tmp

# Keil MDK 编译生成文件与中间产物
**/OBJ/
**/Objects/
**/Listings/
**/DebugConfig/
*.o
*.d
*.crf
*.axf
*.htm
*.lnp
*.sct
*.dep
*.map
*.lst
*.build_log.htm
*.uvguix.*
*.uvopt
JLinkLog.txt
